*.dart linguist-detectable=true
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.cmake linguist-detectable=false
CMakeLists.txt linguist-detectable=false
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
windows/** linguist-vendored
macos/** linguist-vendored
test/** linguist-vendored
